.img_button {
    margin-left: 64px; 
    width: auto; 
    height: 64px;
}

#header_div {
    border-bottom: 2px;
    border-bottom-style: double;
    border-color: black;
}

#image_logo {
    width: 64px;
    height: 64px;
    margin-left: 5%;
    margin-bottom: 5px;
    border-radius: 50%;
    transition: 0.5s;
}

#image_logo:hover {
    box-shadow: 0 5px 20px black;
}

#kaiken {
    transition: 0.5s;
}

a {
    text-decoration: none;
}
